[Unit]
Description=Watch the oVirt Engine audit record storage every 2 minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=2min
AccuracySec=1min
Unit=ovirt-engine-audit-storage-watch.service

[Install]
WantedBy=timers.target
